# common
LOG_LEVEL=INFO

# connections
EXECUTION_ENDPOINTS=http://execution-node:8545
CONSENSUS_ENDPOINTS=http://consensus-node:5052
L2_EXECUTION_ENDPOINTS=http://consensus-node:5052
GRAPH_API_URL=http://graph-node:80

# private key of the wallet that sends transactions
#PRIVATE_KEY=<private_key>

# network
NETWORK=mainnet
